body {
  background-color: black;
  padding: 30px;
}

.container {
  
  background-color: cornsilk;
  padding: 40px;

}

.heading {
  text-align: center;
  align-content: center;
}

.layout {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 70px;
  text-align: justify;
}

.details {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

img {
  border-radius: 8px;
}

a {
  color: black;
}